<!DOCTYPE html>
<html>
  <head>
    <title>All the Profiles</title>

  <link rel="stylesheet" href="stylesheets/style.css" />

  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="" class="brand-logo left"></a>
          <ul class="right">
            <li>
            <% if (user) { %>
              <a href="/logout">Log Out</a>
            <% } else { %>
              <a href="/auth/google">Login with Google</a>
            <% } %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <h1>Profiles</h1>

<section>
    <% users.forEach(function(u,index){%>
      <ul>
      <li><%= u.name%>
      <% if (u._id.equals(user && user._id)) { %>
        <a href="/users/<%=u._id%>">Dashboard</a>      
      <% } %>
      </li>
      </ul>
  <%})%>
  </tbody>
</section>


   
  </body>
</html>
