<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Make a Recipe</title>
  </head>
  <body>
    <nav>
      <a href="/recipes/new">Add a new Recipe</a>
      <a href="/<%= user._id %>"> back to Dashboard</a>
    </nav>
    <h2>Enter a new Recipe</h2>
    <form id="new-form" action="/users/<%= user._id%>/recipes" method="POST">
      user id:<br />
      <input type="text" name="user" value="<%=user._id%>" /> </label
    > <br />
      <label
        >Recpie Name:<br />
        <input type="String" name="name" /> </label
      ><br />
     
  </section>

      <label
        >yeild:<br />
        <input type="Number" name="amount" /> </label
      ><br />

      <label
        >method:<br />
        <input type="String" name="method" /> </label
      ><br />

      <label
        >Notes:<br />
        <input type="String" name="notes" /> </label
      ><br />

      <input type="submit" name="" value="add Recipe" />
    </form>
    <div>Ingredients</div>


    <section >
      <form
        id="add-ingredient-form"
        method="POST"
        action="/users/<%= user._id %>/recipes"
      >
   
      <label
      >name:<br />
      <input type="String" name="name" /> </label
    ><br />
  
    <label
      >method:<br />
      <input type="String" name="method" /> </label
    ><br />
  
    <label
      >Amount:<br />
      <input type="number" name="amount" /> </label
    ><br /> <br>
          <input type="submit" value="Add Ingredient" />
    
      </form>

  </body>
</html>
